<!-- Launchfile to launch rviz and static transform publishers needed to visualize the MuSe dataset -->
<launch>
    <arg name="rviz" default="true"/>    

    <node name="base_footprint_publisher" pkg="tf2_ros" type="static_transform_publisher" args="0 0 -0.01 0 0 0 1 base_link base_footprint"/>
    <node name="gyro_link_publisher" pkg="tf2_ros" type="static_transform_publisher" args="0.056 0.062 0.02 0 0 0 1 base_link gyro_link"/>

    <node name="laser_publisher" pkg="tf2_ros" type="static_transform_publisher" args="-0.036 -0.008 0.355 0 0 0.0469844 0.9988956 base_link laser"/>
    <node name="kinect_link_publisher" pkg="tf2_ros" type="static_transform_publisher" args=",0.0443 0.032 0.305 -0.003098 0.0001047 -0.0000003 0.9999952 base_link kinect_link"/>
    <node name="ocam_link_publisher" pkg="tf2_ros" type="static_transform_publisher" args="-0.198 -0.012 0.194 -0.5022673 0.5087488 0.489155 0.4996295 base_link ocam_link"/>
    <node name="imu_link_publisher" pkg="tf2_ros" type="static_transform_publisher" args="-0.041 -0.031 0.192 -0.0044815 -0.0006636 -0.0369899 0.9993054 base_link imu_link"/>

    <node name="zed_left_link_publisher" pkg="tf2_ros" type="static_transform_publisher" args="0.208 0.06 0.493 -0.3863317 -0.3863293 -0.5961111 0.5883443 base_link zed_left_link"/>
    <node name="zed_right_link_publisher" pkg="tf2_ros" type="static_transform_publisher" args="0.207 -0.059 0.492 -0.3882834 -0.3855647 -0.5949288 0.5887577 base_link zed_right_link"/>
    <node name="omni_left_link_publisher" pkg="tf2_ros" type="static_transform_publisher" args="-0.069 0.073 0.791 0 0 0 1 base_link omni_left_link"/>
    <node name="omni_right_link_publisher" pkg="tf2_ros" type="static_transform_publisher" args="-0.06 -0.081 0.775 0 0 0 1 base_link omni_right_link"/>


    <!-- for dataset S1-S2 -->
    <!-- <node name="vicon_base_link_publisher" pkg="tf2_ros" type="static_transform_publisher" args="2.97 0.28 0 0 0 0.0566928 0.9983917 odom world_vicon"/> should z in [x y z w] be negative??? -->

    <!-- for dataset S2-S2 -->
    <!-- <node name="vicon_base_link_publisher" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 1 odom world_vicon"/> -->


    <node name="kobuki_vicon_link_publisher" pkg="tf2_ros" type="static_transform_publisher" args="0.063 0.0026 0.59 0 0 0 1 base_link kobuki_vicon_link"/>
    <node name="localink_link_publisher" pkg="tf2_ros" type="static_transform_publisher" args="-0.208 -0.004 0.674 0 0 0 1 base_link localink_link"/>

    <group if="$(arg rviz)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find wheel_slam)/rviz/MuSe.rviz" required="true" />
    </group>

    <!-- 
        MuSe extrinsics - /params/extrinsics.yaml


        Frame,Transformation to robot base_link
        Name,x(m),y(m),z(m),roll(deg),pitch(deg),yaw(deg)
        base_footprint,0,0,-0.01,0,0,0 (DONE)
        gyro_link,0.056,0.062,0.02,0,0,0 (DONE)

        laser,-0.036,-0.008,0.355,0,0,5.386 (DONE)
        kinect_link,0.0443,0.032,0.305,-0.355,0.012,0 (DONE)
        ocam_link,-0.198,-0.012,0.194,-91.272,0.974,89.782 (DONE)
        imu_link,-0.041,-0.031,0.192,               -0.516,-0.057,-4.24 (DONE)

        zed_left_link,0.208,0.06,0.493,-66.234,0.344,-90.527 (DONE)
        zed_right_link,0.207,-0.059,0.492,-66.349,0.458,-90.298 (DONE)
        omni_left_link,-0.069,0.073,0.791,-90.814,1.833,-11.173 (fisheye)
        omni_right_link,-0.06,-0.081,0.775,-89.725,-1.49,169.481 (fisheye)

        vicon/kobuki_vicon_link/kobuki_vicon_link,0.063,0.0026,0.59,0,0,-1.29 (DONE, see comment, need to create GT alignment node) [0.063 0.0026 0.59 0 0 -0.0112571 0.9999366]
        localink_link,-0.208,-0.004,0.674,-,-,- (DONE?)

    -->

</launch>