<launch>
    <node name="kinect_link_publisher" pkg="tf2_ros" type="static_transform_publisher" args=",0.0443 0.032 0.305 -0.003098 0.0001047 -0.0000003 0.9999952 $(arg base_name) kinect_link2"/>
    <node name="kinect_link_rgb_publisher" pkg="tf2_ros" type="static_transform_publisher" args=",0.0443 0.032 0.305 -0.003098 0.0001047 -0.0000003 0.9999952 $(arg base_name) kinect_link2"/>
    <node name="kinect_link_depth_publisher" pkg="tf2_ros" type="static_transform_publisher" args=",0.0443 0.032 0.305 -0.003098 0.0001047 -0.0000003 0.9999952 $(arg base_name) kinect_link2"/>
    <node name="kinect_link_rgb2_publisher" pkg="tf2_ros" type="static_transform_publisher" args=",0.0443 0.032 0.305 -0.003098 0.0001047 -0.0000003 0.9999952 $(arg base_name) kinect_link2"/>
    <node name="kinect_link_depth2_publisher" pkg="tf2_ros" type="static_transform_publisher" args=",0.0443 0.032 0.305 -0.003098 0.0001047 -0.0000003 0.9999952 $(arg base_name) kinect_link2"/>
</launch>