<!-- Launchfile for the euroc dataset - also known as ViconRoom -->

<launch>
    <arg name="rviz" default="true"/>
    <arg name="use_lcd" default="false"/>
    <arg name="scene" default="vicon_room"/> <!-- from the Euroc MAV dataset-->
    <arg name="record_for_evo" default="false"/>

    <arg name="volumetric" default="false"/>
    <arg name="semantic" default="false"/>
    <arg name="s" default="0" doc="start time for rosbag"/>

    <param name="use_sim_time"   value="true" />

    <node pkg="rosbag" type="play" name="player" args="$(find robust_slam)/bags/ViconRoom/V1_01_easy.bag --clock -s $(arg s)"/> <!-- TODO when should clock param be on?? -->

    <include file="$(find kimera_vio_ros)/launch/kimera_vio_ros_euroc.launch"> <!-- output="screen" -->
        <arg name="online" value="true" />
        <arg name="use_lcd" value="$(arg use_lcd)"/>
        <arg name="run_stereo_dense" value="$(arg volumetric)"/> <!-- TODO, should this be false when not running w semantics?? -->
        <!-- <arg name="gt_topic" value="vicon/firefly_sbx/firefly_sbx"/> -->
        <arg name="log_gt_data" value="false" />
    </include>

    <group if="$(arg volumetric)">
        <include file="$(find kimera_semantics_ros)/launch/kimera_semantics_euroc.launch">
            <arg name="metric_semantic_reconstruction" value="$(arg semantic)" /> <!-- set to true for semantics-->
        </include>
    </group>

    <group if="$(arg rviz)">
            <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robust_slam)/rviz/kimera_vio_euroc.rviz" required="true" />
    </group>

    <group if="$(arg record_for_evo)">
            <node pkg="rosbag" type="record" name="recorder" required="true" args="--duration=5m -o $(find robust_slam)/bags/bags_for_evo/euroc_$(arg scene).bag /tf" />
    </group>

</launch>