<launch>
    <arg name="rviz" default="true"/>
    <arg name="use_lcd" default="false"/>
    <arg name="scene" default="validate"/>

    <param name="/use_sim_time" value="true"/>

    <include file="$(find robust_slam)/launch/TUM.launch" pass_all_args="true"> <!-- rviz, scene-->
    </include>


    <include file="$(find kimera_vio_ros)/launch/kimera_vio_ros.launch">
        <arg name="dataset_name"   default="Euroc"/> <!-- TODO, ensure there are params in /params-->
        <arg name="online" value="true" />
        <arg name="use_lcd" value="$(arg use_lcd)"/>

        <!-- <arg name="use_online_cam_params" value="true" /> -->

    </include>

</launch>