<launch>
    <arg name="rviz" default="true"/>
    <arg name="use_lcd" default="false"/>
    <arg name="scene" default="office"/>

    <rosparam>
        use_sim_time: true
    </rosparam>

    <arg name="record_for_evo" default="false"/>
    <arg name="d" default="2m"/> <!-- TODO - the duration parameter doesnt properly work? -->

    <group if="$(eval arg('scene') == 'office')">
        <node pkg="rosbag" type="play" name="player" args="$(find robust_slam)/bags/uHumans/uHumans2_office_s1_00h.bag --clock"/>
    </group>

    <group if="$(eval arg('scene') == 'office_w_people')">
        <node pkg="rosbag" type="play" name="player" args="$(find robust_slam)/bags/uHumans/uHumans2_office_s1_12h.bag --clock"/>
    </group>

    <group if="$(eval arg('scene') == 'subway')">
        <node pkg="rosbag" type="play" name="player" args="$(find robust_slam)/bags/uHumans/uHumans2_subway_s1_00h.bag --clock"/>
    </group>

    <group if="$(eval arg('scene') == 'subway_w_people')">
        <node pkg="rosbag" type="play" name="player" args="$(find robust_slam)/bags/uHumans/uHumans2_subway_s1_36h.bag --clock"/>
    </group>

    <include file="$(find kimera_vio_ros)/launch/kimera_vio_ros_uhumans2.launch">
        <arg name="online" value="true" />
        <arg name="use_lcd" value="$(arg use_lcd)"/>
    </include>

    <group if="$(arg rviz)">
            <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robust_slam)/rviz/kimera_vio_uhumans.rviz" required="true" />
    </group>

    <group if="$(arg record_for_evo)">
            <node pkg="rosbag" type="record" name="record" required="true" args="--duration $(arg d) -O $(find robust_slam)/bags/bags_for_evo/uhumans2_$(arg scene)_$(arg d).bag /tf" /> <!-- NOTE - seems like it records for longer than is specified?? -->
    </group>

</launch>