<launch>
    <arg name="rviz" default="true"/>
    <arg name="scene" default="dynamic"/>

    <!-- static tf needed for orb-slam2 to init -->
    <node name="odom_link_publisher" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 1 world odom"/>
    <node name="map_link_publisher" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 1 world map"/>
    <node name="baselink_link_publisher" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 1 odom base_link"/>
    <node name="camera_link_publisher" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 1 base_link camera_link"/>

    <param name="/use_sim_time" value="true"/>

    <group if="$(eval arg('scene') == 'dynamic')">
        <node pkg="rosbag" type="play" name="player" args="$(find robust_slam)/bags/TUM-rgbd-dataset/rgbd_dataset_freiburg3_walking_xyz.bag  --clock
         camera/rgb/image_color:=/cam0/image_raw camera/rgb/camera_info:=/cam0/camera_info imu:=imu0 "/>
    </group>

    <group if="$(eval arg('scene') == 'plant')">
        <node pkg="rosbag" type="play" name="player" args="$(find robust_slam)/bags/TUM-rgbd-dataset/rgbd_dataset_freiburg1_plant.bag  --clock
         camera/rgb/image_color:=/cam0/image_raw camera/rgb/camera_info:=/cam0/camera_info imu:=imu0 "/>
    </group>

    <group if="$(eval arg('scene') == 'validate')">
        <node pkg="rosbag" type="play" name="player" args="$(find robust_slam)/bags/TUM-rgbd-dataset/rgbd_dataset_freiburg2_xyz.bag  --clock 
        camera/rgb/image_color:=/cam0/image_raw camera/rgb/camera_info:=/cam0/camera_info imu:=imu0"/>
    </group>

    <group if="$(eval arg('scene') == 'calib')">
        <node pkg="rosbag" type="play" name="player" args="$(find robust_slam)/bags/TUM-rgbd-dataset/rgbd_dataset_freiburg3_checkerboard_large.bag  --clock
         camera/rgb/image_color:=/cam0/image_raw camera/rgb/camera_info:=/cam0/camera_info imu:=imu0"/>
    </group>


    <group if="$(eval arg('scene') == 'household')">
        <node pkg="rosbag" type="play" name="player" args="$(find robust_slam)/bags/TUM-rgbd-dataset/rgbd_dataset_freiburg3_long_office_household.bag  --clock
         camera/rgb/image_color:=/cam0/image_raw camera/rgb/camera_info:=/cam0/camera_info imu:=imu0 "/>
    </group>

    <group if="$(eval arg('scene') == 'euroc')">
        <node pkg="rosbag" type="play" name="player" args="$(find robust_slam)/bags/ViconRoom/V1_01_easy.bag --clock cam1/image_raw:=using_mono"/>
    </group>


    <group if="$(arg rviz)">
            <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robust_slam)/rviz/TUM.rviz" required="true" />
    </group>

</launch>